.background {
    -fx-background-image: url("natural-paper-background.jpg");
    -fx-background-repeat: repeat;
    -fx-background-size: cover;
}

.game-board {
    -fx-border-style: solid inside;
    -fx-border-width: 0.5;
    -fx-border-radius: .5;
    -fx-border-color: #FFFFD2;
    -fx-max-height: 500px;
    -fx-max-width: 500px;
    -fx-background-color: #202020;
}

.game-block {
    -fx-alignment: center;
    -fx-min-height: 110px;
    -fx-min-width: 110px;
    -fx-background-color: antiquewhite;
    -fx-border-style: solid;
    -fx-border-width: 0.5;
    -fx-border-color: green;
    -fx-animated: true;
    -fx-text-fill: #b3b9c5;
}

.index-button {
    -fx-min-width: 140px;
    -fx-min-height: 70px;
    -fx-background-color: lightgreen;
    -fx-border-radius: 1.5%;
    -fx-text-alignment: center;
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-cursor: default;
}

.index-button:hover {
    -fx-background-color: #70ee70;
    -fx-cursor: hand;
}

.home-button {
    -fx-border-style: hidden;
    -fx-border-radius: 1.5%;
    -fx-background-color: transparent;
    -fx-opacity: 75%;
    -fx-cursor: default;
}

.playscreen-home-button {
    -fx-border-style: hidden;
    -fx-border-radius: 1.5%;
    -fx-background-color: transparent;
    -fx-opacity: 75%;
    -fx-cursor: default;
}

.home-button:hover playscreen-home-button:hover {
    -fx-opacity: 100%;
    -fx-cursor: hand;
}

.instructions {
    -fx-font-size: 17.5px;
    -fx-font-family: Corbel;
    -fx-min-width: inherit;
    -fx-padding: 10px;
    -fx-text-fill: #202020;
    -fx-background-color: transparent;
    -fx-wrap-text: true;
    -fx-text-alignment: left;
}
